# PANDAS

In [1]:
import pandas as pd

Подробнее: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
- Students_info_i - информация о студентах из группы i
- Students_marks_i - оценки студентов из группы i за экзамены

#### 1. Сбор всей информации и оценок всех студентов из всех групп в одну таблицу df

In [2]:
!wget 'https://github.com/aavalina/ML/raw/7529838f8c781565b628aa91e6e025437e776660/02_pandas_data.zip'

--2024-09-26 00:36:36--  https://github.com/aavalina/ML/raw/7529838f8c781565b628aa91e6e025437e776660/02_pandas_data.zip
Resolving github.com (github.com)... 140.82.112.3
Connecting to github.com (github.com)|140.82.112.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/aavalina/ML/7529838f8c781565b628aa91e6e025437e776660/02_pandas_data.zip [following]
--2024-09-26 00:36:36--  https://raw.githubusercontent.com/aavalina/ML/7529838f8c781565b628aa91e6e025437e776660/02_pandas_data.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 16727 (16K) [application/zip]
Saving to: ‘02_pandas_data.zip’

02_pandas_data.zip  100%[===================>]  16.33K  --.-KB/s    in 0s

2024-09-26 00:36:36 (88.2 MB/s) - ‘02_pandas_data.zip’ saved [16727/16727]

In [3]:
!unzip '02_pandas_data.zip'

Archive:  02_pandas_data.zip
   creating: Data/
  inflating: Data/Students_info_0.csv
  inflating: Data/Students_info_1.csv
  inflating: Data/Students_info_2.csv
  inflating: Data/Students_info_3.csv
  inflating: Data/Students_info_4.csv
  inflating: Data/Students_info_5.csv
  inflating: Data/Students_info_6.csv
  inflating: Data/Students_info_7.csv
  inflating: Data/Students_info_8.csv
  inflating: Data/Students_info_9.csv
  inflating: Data/Students_marks_0.csv
  inflating: Data/Students_marks_1.csv
  inflating: Data/Students_marks_2.csv
  inflating: Data/Students_marks_3.csv
  inflating: Data/Students_marks_4.csv
  inflating: Data/Students_marks_5.csv
  inflating: Data/Students_marks_6.csv
  inflating: Data/Students_marks_7.csv
  inflating: Data/Students_marks_8.csv
  inflating: Data/Students_marks_9.csv

In [4]:
df_students_info = pd.read_csv('Data/Students_info_0.csv')
df_students_marks = pd.read_csv('Data/Students_marks_0.csv')

for i in range(1, 10):
  students_info_i = pd.read_csv('Data/Students_info_{}.csv'.format(i))
  df_students_info = pd.concat([df_students_info, students_info_i])              # concat the next file with students info with the previous one

  students_marks_i = pd.read_csv('Data/Students_marks_{}.csv'.format(i))
  df_students_marks = pd.concat([df_students_marks, students_marks_i])           # concat the next file with students marks with the previous one

df = pd.merge(df_students_info, df_students_marks, on='index', how='left')       # merge generated file_info with file_marks
df.sample(n=5)

,index,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
883,883,male,group D,bachelor's degree,free/reduced,none,group9,55,46,44
976,976,male,group B,some college,free/reduced,completed,group10,60,62,60
324,324,female,group C,high school,free/reduced,none,group4,41,46,43
972,972,female,group A,high school,free/reduced,completed,group10,53,50,60
973,973,female,group D,some college,free/reduced,none,group10,49,65,61

#### 2. Удаление столбца index у полученной таблицы

In [5]:
df = df.drop(columns=['index'])
df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75
5,female,group B,associate's degree,standard,none,group1,71,83,78
6,female,group B,some college,standard,completed,group1,88,95,92
7,male,group B,some college,free/reduced,none,group1,40,43,39
8,male,group D,high school,free/reduced,completed,group1,64,64,67
9,female,group B,high school,free/reduced,none,group1,38,60,50

#### 3. Вывод размеров полученной таблицы

In [6]:
df.shape

(1000, 9)

#### 4. Вывод статистических характеристик числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [7]:
df.describe().loc[['min', 'max', 'mean', 'std']]

      math score  reading score  writing score
min      0.00000      17.000000      10.000000
max    100.00000     100.000000     100.000000
mean    66.08900      69.169000      68.054000
std     15.16308      14.600192      15.195657

#### 5. Проверка, есть ли в таблице пропущенные значения

In [8]:
df.isna().any().any()

False

#### 6. Вывод средних баллов студентов по каждому предмету (math, reading, writing)

In [9]:
math_mean = df['math score'].mean()
reading_mean = df['reading score'].mean()
writing_mean = df['writing score'].mean()

print('math: ', math_mean)
print('reading: ', reading_mean)
print('writing: ', writing_mean)

math:  66.089
reading:  69.169
writing:  68.054

#### 7. Зависимость оценок от того, проходил ли студент курс для подготовки к сдаче экзамена
Вывод для каждого предмета в отдельности среднего балла студентов, проходивших курс для подготовки к экзамену и не проходивших курс.

In [10]:
df.groupby('test preparation course')['math score'].mean()

test preparation course
completed    69.695531
none         64.077882
Name: math score, dtype: float64

In [11]:
df.groupby('test preparation course')['reading score'].mean()

test preparation course
completed    73.893855
none         66.534268
Name: reading score, dtype: float64

In [12]:
df.groupby('test preparation course')['writing score'].mean()

test preparation course
completed    74.418994
none         64.504673
Name: writing score, dtype: float64

#### 8. Вывод всех различных значений из столбца lunch

In [13]:
# 1st option
df['lunch'].drop_duplicates().reset_index(drop=True)

0        standard
1    free/reduced
Name: lunch, dtype: object

In [14]:
# 2nd option
print(*set(df['lunch']), sep=', ')

standard, free/reduced

#### 9. Переименование колонки "parental level of education" в "education", колонки "test preparation course" в "test preparation" с помощью метода pandas rename
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [15]:
df = df.rename(columns={"parental level of education": "education", "test preparation course": "test preparation"})
df.head()

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75

**Зафиксируем минимальный балл для сдачи экзамена**

In [16]:
passmark = 50

#### 10.
1) Какая доля студентов сдала экзамен по математике (passmark >= 50)

2) Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?

3) Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [17]:
# 1) percentage of students who passed the math exam:
percentage = len(df[df['math score'] >= passmark]) / len(df)

# 2) percentage of students who completed preparation course and passed the math exam:
prep_completed = len(df.loc[df['test preparation'] == 'completed'])
pass_with_prep = len(df.loc[(df["test preparation"] == 'completed')\
                          & (df["math score"] >= passmark)])

percentage_of_pass = pass_with_prep / prep_completed

# 3) percentage of female students who didn't have a preparation course and failed the math exam:
prep_none_female = len(df.loc[(df["test preparation"] == 'none')\
                            & (df["gender"] == 'female')])

prep_none_female_failed = len(df.loc[(df["test preparation"] == 'none')\
                                   & (df["gender"] == 'female')\
                                   & (df['math score'] < passmark)])

percentage_of_fail_female = prep_none_female_failed / prep_none_female

print('1)', percentage)
print('2)', percentage_of_pass)
print('3)', percentage_of_fail_female)

1) 0.865
2) 0.9217877094972067
3) 0.20958083832335328

#### 11.
1) Вывод для каждой этнической группы среднего балла за экзамен по чтению

2) Вывод для каждого уровня образования минимального балла за экзамен по письму

In [18]:
# using groupby

In [19]:
%%time
reading_mean_ethnic = df.groupby('race/ethnicity')['reading score'].mean()
reading_mean_ethnic

CPU times: user 1.33 ms, sys: 0 ns, total: 1.33 ms
Wall time: 1.44 ms

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64

In [20]:
%%time
writing_min_education = df.groupby('education')['writing score'].min()
writing_min_education

CPU times: user 1.07 ms, sys: 842 µs, total: 1.91 ms
Wall time: 4.92 ms

education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64

In [21]:
# using for

In [22]:
%%time
ethnicity = sorted(set(df['race/ethnicity']))                                    # all the unique values of column 'race/ethnicity'

for ethnicity_i in ethnicity:                                                    # iterating by every ethnicity group

  by_ethnicity_data = df[df['race/ethnicity'] == ethnicity_i].reset_index(drop=True)  # creating dataframe for ethnicity group
  total_reading_score = 0

  for row in range(len(by_ethnicity_data)):                                      # summing up all the values of reading score in the rows
    total_reading_score += by_ethnicity_data.at[row, 'reading score']

  print(ethnicity_i, ' mean reading score: ', total_reading_score / len(by_ethnicity_data))
  # takes longer

group A  mean reading score:  64.67415730337079
group B  mean reading score:  67.35263157894737
group C  mean reading score:  69.10344827586206
group D  mean reading score:  70.03053435114504
group E  mean reading score:  73.02857142857142
CPU times: user 24.9 ms, sys: 0 ns, total: 24.9 ms
Wall time: 31.4 ms

In [23]:
%%time
education = sorted(set(df['education']))                                         # all the unique values of column 'education'

for education_level in education:                                                # iterating by every education_level

  by_education_data = df[df['education'] == education_level].reset_index(drop=True) # creating dataframe for education_level
  writing_scores = []

  for row in range(len(by_education_data)):
    writing_scores.append(by_education_data.at[row, 'writing score'])            # adding the value of writing score in every row to a list

  print(education_level, '\tmin writing score:\t', min(writing_scores))          # minimum value in the list
  # takes longer

associate's degree 	min writing score:	 35
bachelor's degree 	min writing score:	 38
high school 	min writing score:	 15
master's degree 	min writing score:	 46
some college 	min writing score:	 19
some high school 	min writing score:	 10
CPU times: user 29.1 ms, sys: 782 µs, total: 29.9 ms
Wall time: 56 ms

#### 12. Вывод средних баллов студентов по каждому предмету в зависимости от пола и уровня образования

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [24]:
grouped = pd.pivot_table(df, index=['gender','education'], values=['math score', 'reading score', 'writing score'])
grouped

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

#### 13. Сколько студентов успешно сдали экзамен по математике? По чтению? По письму?

In [25]:
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

In [26]:
# for math
df['Math_PassStatus'] = df['math score'] >= passmark
df.loc[df['Math_PassStatus'] == True, 'Math_PassStatus'] = 'P'
df.loc[df['Math_PassStatus'] == False, 'Math_PassStatus'] = 'F'
df['Math_PassStatus'].value_counts()

Math_PassStatus
P    865
F    135
Name: count, dtype: int64

In [27]:
# for reading
df['Reading_PassStatus'] = df['reading score'] >= passmark
df.loc[df['Reading_PassStatus'] == True, 'Reading_PassStatus'] = 'P'
df.loc[df['Reading_PassStatus'] == False, 'Reading_PassStatus'] = 'F'
df['Reading_PassStatus'].value_counts()

Reading_PassStatus
P    910
F     90
Name: count, dtype: int64

In [28]:
# for writing
df['Writing_PassStatus'] = df['writing score'] >= passmark
df.loc[df['Writing_PassStatus'] == True, 'Writing_PassStatus'] = 'P'
df.loc[df['Writing_PassStatus'] == False, 'Writing_PassStatus'] = 'F'
df['Writing_PassStatus'].value_counts()

Writing_PassStatus
P    886
F    114
Name: count, dtype: int64

In [29]:
df.head()

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P
1,female,group C,some college,standard,completed,group1,69,90,88,P,P,P
2,female,group B,master's degree,standard,none,group1,90,95,93,P,P,P
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,P,F
4,male,group C,some college,standard,none,group1,76,78,75,P,P,P

#### 14. Сколько студентов успешно сдали все экзамены?

In [30]:
df['OverAll_PassStatus'] = (df['Math_PassStatus'] == 'P')\
                         & (df['Reading_PassStatus'] == 'P')\
                         & (df['Writing_PassStatus'] == 'P')
df.loc[df['OverAll_PassStatus'] == True, 'OverAll_PassStatus'] = 'P'
df.loc[df['OverAll_PassStatus'] == False, 'OverAll_PassStatus'] = 'F'
print('Number of students who passed all exams: ', len(df[df['OverAll_PassStatus'] == 'P']))
df.head()

Number of students who passed all exams:  812

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus,OverAll_PassStatus
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P,P
1,female,group C,some college,standard,completed,group1,69,90,88,P,P,P,P
2,female,group B,master's degree,standard,none,group1,90,95,93,P,P,P,P
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,P,F,F
4,male,group C,some college,standard,none,group1,76,78,75,P,P,P,P

#### 15. Переведем баллы в оценки. Создадим вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным критериям:
- больше 90 = A
- 80-90 = B
- 70-80 = C
- 60-70 = D
- 50-60 = E
- меньше 50 = F (Fail)

In [31]:
def GetGrade(average_mark):
    if average_mark > 90:
      return 'A'
    elif 80 < average_mark <= 90:
      return 'B'
    elif 70 < average_mark <= 80:
      return 'C'
    elif 60 < average_mark <= 70:
      return 'D'
    elif 50 < average_mark <= 60:
      return 'E'
    return 'F'

df['Grade'] = df.apply(lambda score: (score['math score'] + score['reading score'] + score['writing score']) / 3, axis=1).apply(GetGrade)
print(df['Grade'].value_counts()) # количество студентов, получивших каждую из оценок
df.head()

Grade
D    260
C    253
E    184
B    144
F    109
A     50
Name: count, dtype: int64

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus,OverAll_PassStatus,Grade
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P,P,C
1,female,group C,some college,standard,completed,group1,69,90,88,P,P,P,P,B
2,female,group B,master's degree,standard,none,group1,90,95,93,P,P,P,P,A
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,P,F,F,F
4,male,group C,some college,standard,none,group1,76,78,75,P,P,P,P,C